.form-container {
  background-color: $color-bg-primary;
  display: flex;
  flex-grow: 1;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  
  .text-info {
    width: 700px;
    p {
      font-size: 1.6em;
      text-align: justify;
    }
    padding-bottom: 2em;
  }

  .form {
    width: 600px;
  }

  .field {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    select {
      justify-self: center;
    }
  }

  button {
    margin: 5rem;
    align-self: center;
  }
}