.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  margin-bottom: 2em;
  
  .logo{
    height: 5rem;
    background-color: $color-bg-secondary;
  }
  .divider {
    height: .5rem;
    background-color: $color-text-primary;
  }
}